<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <link rel="stylesheet" href="app.css">
  <script src="https://unpkg.com/vue@2.3.4"></script>

</head>

<body>
  <div id="app" class="container">
    <div class="row justify-content-center">
      <h1>Guest List</h1>
    </div>
    <div class="row mt-3">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h3>{{event.eventDate}}</h3>
          </div>
          <div class="card-body">
            <div class="card-text">
              <h1>{{event.eventTitle}}</h1>
              <p>{{event.eventDescription}}</p>

              <!-- Two ways of data binding -->
              <form class="form-inline" @submit.prevent="formSubmitted">
                <div class="form-group">
                  <label for="searchTerm">label </label>
                  <input type="text" name="searchTerm" id="searchTerm" class="form-control" placeholder="Jane Doe" aria-describedby="helpId"
                    v-model="newNameText">

                  <button type="submit" class="btn btn-primary">check in</button>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h3>Attending {{guestName.length}}</h3>
          </div>
          <div class="card-body">
            <div class="btn-success" v-if="guestName.length != 0">
              <div v-for="(name, index) in guestName">
              {{index + 1}} - {{name}}
              </div>
            </div>
            <div v-else>
              <p>There is no guest yet</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
  <script src="app.js"></script>
</body>

</html>